body{
  position: static;
}
.flipx {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}
.btn {
  border-radius:0;
  padding: 8px 0;
}
select {
  padding: 6px 15px;
}
.wu-bar {
	background-color: #26A9E1;
	color: #fff;
  height: 54px;
}
.wu-bar .icon-bars {
  font-size: 32px;
  font-weight: 800;
  margin-top: 7px;
}
.wu-bar-login {
  padding:4px 8px !important;
  margin: 8px 0 !important;;
}
.wu-bar-color {
	color: #fff;
  border-color: #fff;
}
.wu-bar~.wu-back {
	background-color: #e5e5e5;
  padding-top: 54px;
  margin-bottom:40px;
}
.wu-menu {
  position: absolute;
  left: 0;
  top:54px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #000;
  opacity: 0;
  overflow: hidden;
  height: 0;
}
.wu-menu.active {
  height: auto;
  opacity: .75;
  -webkit-transition: -webkit-transform .25s;
  -moz-transition: -moz-transform .25s;
  transition: transform .25s;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.wu-menu a {
  color: #fff;
  font-size: 15px;
  text-align: center;
  display: block;
  padding: 15px;
  border-bottom: 1px solid #666;
}
.wu-side {
	font-size: 0 !important;
	line-height: normal;
}

.wu-card {
  position: relative;
	text-align:center;
	background-color:#fff;
	padding: 20px 15px;
	margin-top:15px;
}
.wu-btn-primary {
  border-radius:0;
  background-color: #26A9E1;
  border-color: #26A9E1;
}
.wu-btn-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  margin: 0;
}
.wu-slider {
  position: relative;
  background-color: #333;
  height: 242px;
  overflow: hidden; 
}
.wu-slider:after {
  position: absolute;
  z-index: 2;
  content: '';
  border: none;
  background-color: #e5e5e5;
  width: 10px;
  height: 10px;
  left: 50%;
  margin-left: -10px; 
  bottom: -11px;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  -webkit-transform: translateY(-50%)scale(1.50,1.00)translateX(50%)rotate(45deg);
  -ms-transform: translateY(-50%)scale(1.50,1.00)translateX(50%)rotate(45deg);
  transform: translateY(-50%)scale(1.50,1.00)translateX(50%)rotate(45deg);
}
.wu-card:before,.wu-card:after {
  position: absolute;
  z-index: 2;
  content: '';
  border: none;
  background-color: #e5e5e5;
  width: 10px;
  height: 10px;
  left: 50%;
  margin-left: -10px; 
  bottom: -11px;
  -webkit-transform: translateY(-50%)scale(1.50,1.00)translateX(50%)rotate(45deg);
  -ms-transform: translateY(-50%)scale(1.50,1.00)translateX(50%)rotate(45deg);
  transform: translateY(-50%)scale(1.50,1.00)translateX(50%)rotate(45deg);
}
.wu-card:before {
  background-color: #fff;
  top: 0;
}
.wu-card:after {
  background-color: #e5e5e5;
  bottom: -11px;
}
.wu-card:nth-last-child(1):after {
	display: none;
}
.wu-card>.wu-header{
	border-bottom: 1px solid #000;
	padding:10px 0;
}
.wu-card>.wu-header>p{
	font-size: 22px;
	color:#000;
	line-height: 90%;
}
.wu-body {
  margin:10px 0;
}
.wu-header~.wu-body {
  margin-top:20px;
}
.wu-body>p {
	font-size: 15px;
	color:#717171;
	line-height: 150%;
	margin: 20px 15px;
}
.wu-body img+img{
  margin-top: 10px;
}
.wu-body>form {
  margin-top:140px;
}
.wu-btn-border {
	border-color: #26A9E1;
	color: #26A9E1;
	border-radius:0;
  width:50%; margin:10px auto;
}
.wu-tip-box {
  position: relative;
  border-radius: 50% 50%;
  width: 93px;
  height: 93px;
  border: solid 1px #1c1a23;
  background-color:#1c1a23;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 93px;
}
.wu-tip-box:after {
  position: absolute;
  z-index: 2;
  content: '';
  border: none;
  background-color:#1c1a23;
  width: 20px;
  height: 20px;
  left: 50%;
  margin-left: -13px; 
  bottom: -11px;
  -webkit-transform: translateY(-50%)translateX(50%)rotate(-27deg)skew(-20deg,0deg)scale(2.20,1.00);
  -ms-transform: translateY(-50%)translateX(50%)rotate(-27deg)skew(-20deg,0deg)scale(2.20,1.00);
  transform: translateY(-50%)translateX(50%)rotate(-27deg)skew(-20deg,0deg)scale(2.20,1.00);
}
.wu-tip-box.red {
  border: solid 1px #f43d13;
  background-color:#f43d13;
}
.wu-tip-box.red:after {
  background-color:#f43d13;
}
.wu-tip-box.blue {
  border: solid 1px #254A88;
  background-color:#254A88;
}
.wu-tip-box.blue:after {
  background-color:#254A88;
}
.wu-card>.wu-tip-box {
  position: absolute;
  right: 30px;
  top: 30px;
}
.wu-office-item {
  position: relative;
  min-height: 84px;
}

.wu-office-item>a {
  display: block;
  position: absolute;
  width: 80%;
  left: 10%;
  height: 84px;
  top: 35px;
  padding: 10px;
  font-size: 18px;
  color:#fff;
  line-height: 150%;
  background-color: #000;
  border:solid 5px #fff;
  box-shadow: 0 0 15px #000;
  opacity: .75;
}

.wu-event-item {
  position: relative;
  min-height: 84px;
}

.wu-event-item>a {
  display: block;
  position: absolute;
  width: 80%;
  left: 10%;
  height: 84px;
  top: 80px;
  padding: 10px;
  font-size: 18px;
  color:#ff0000;
  line-height: 150%;
  background-color: #000;
  border:solid 5px #ff0000;
  box-shadow: 0 0 15px #000;
  opacity: .75;
}
.wu-service-item {
  display: inline-block;
  font-size: 14px;
  color: #999;
}
.wu-service-btn {
  display: block;
  margin: 5px;
  width: 80px;
  height: 77px;
  border-radius: 4px;
  border: none;
  background-color:#46CAE2;
  background-size: cover;
  background-repeat: no-repeat;
}
.wu-service-bar {
  display: inline-block;
  text-align: left;
  font-size: 10px;
  color: #fff;
  margin: 2px 1px;
  width: 140px;
  height: 48px;
  padding: 15px 0 0 40px;
  background-color:#46CAE2;
  background-size: cover;
  background-repeat: no-repeat;
}
.wu-service-light {
  background-color: #69E7F7;
}
.wu-service-dark {
  background-color: #3DBBCC;
}
.wu-service-btn.wu-service-community{
  background-image: url(../img/icon/square/community.png);
}
.wu-service-btn.wu-service-btn.wu-service-network{
  background-image: url(../img/icon/square/network.png);
}
.wu-service-btn.wu-service-rest{
  background-image: url(../img/icon/square/rest.png);
}
.wu-service-btn.wu-service-art-area{
  background-image: url(../img/icon/square/art-area.png);
}
.wu-service-btn.wu-service-meeting-room{
  background-image: url(../img/icon/square/meeting-room.png);
}
.wu-service-btn.wu-service-event-place{
  background-image: url(../img/icon/square/event-place.png);
}
.wu-service-btn.wu-service-fitness{
  background-image: url(../img/icon/square/fitness.png);
}
.wu-service-btn.wu-service-train{
  background-image: url(../img/icon/square/train.png);
}
.wu-service-btn.wu-service-coffee{
  background-image: url(../img/icon/square/coffee.png);
}
.wu-service-bar.wu-service-community{
  background-image: url(../img/icon/bar/community.png);
}
.wu-service-bar.wu-service-network{
  background-image: url(../img/icon/bar/network.png);
}
.wu-service-bar.wu-service-rest{
  background-image: url(../img/icon/bar/rest.png);
}
.wu-service-bar.wu-service-art-area{
  background-image: url(../img/icon/bar/art-area.png);
}
.wu-service-bar.wu-service-meeting-room{
  background-image: url(../img/icon/bar/meeting-room.png);
}
.wu-service-bar.wu-service-event-place{
  background-image: url(../img/icon/bar/event-place.png);
}
.wu-service-bar.wu-service-fitness{
  background-image: url(../img/icon/bar/fitness.png);
}
.wu-service-bar.wu-service-train{
  background-image: url(../img/icon/bar/train.png);
}
.wu-service-bar.wu-service-coffee{
  background-image: url(../img/icon/bar/coffee.png);
}
iframe {
  border:0;
}